/*! http://responsive-slides.viljamis.com v1.20 by @viljamis */


/* SLIDESHOW
--------------------------------------------- */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides img {
  display: block;
  height: auto;
  width: 100%;
  border: 0;
  }


/* PAGINATION (you can edit/remove this part)
--------------------------------------------- */

.rslides_tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  }

.rslides_tabs li {
  float: left;
  }

.rslides_tabs a {
  -webkit-tap-highlight-color: rgba(0,0,0,.01);
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  background: #999;
  cursor: pointer;
  display: block;
  color: #fff;
  width: 44px;
  }

.rslides_here a {
  background: #000;
  }
