* {
  margin: 0;
  padding: 0;
  }

html {
  background: #fff;
  }

body {
  color: #333;
  font: 14px/24px sans-serif;
  margin: 0 auto;
  max-width: 700px;
  _width: 700px;
  padding: 50px 30px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  }

h1 {
  font: 600 24px/32px sans-serif;
  margin-bottom: 50px;
  }

.rslides {
  margin: 0 auto;
  }

.container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.rslides1_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  text-indent: -9999px;
  overflow: hidden;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right: 20px solid rgba(255,255,255, .9);
  text-decoration: none;
  padding: 0 5px;
  height: 0;
  width: 0;
  font: 900 20px/38px sans-serif;
  margin-top: -30px;
  color: #fff;
  }

.rslides1_nav.next {
  left: auto;
  right: 0;
  border-right: 0;
  border-left: 20px solid rgba(255,255,255, .8);
  }

.rslides2_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  background: transparent;
  text-decoration: none;
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  color: #fff;
  }

.rslides2_nav.next {
  left: auto;
  right: 0;
  }

.rslides3_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255, .85);
  text-decoration: none;
  width: 30px;
  color: transparent;
  }

.rslides3_nav:after {
  content: "\00AB";
  position: absolute;
  top: 50%;
  font: 900 20px/20px sans-serif;
  margin-top: -10px;
  left: 10px;
  text-indent: 0;
  color: #000;
  }

.rslides3_nav.next {
  left: auto;
  right: 0;
  }

.rslides3_nav.next:after {
  content: "\00BB";
  right: 10px;
  }

.rslides1_nav:focus,
.rslides2_nav:focus,
.rslides3_nav:focus {
  outline: none;
  }

.rslides_tabs {
  margin-top: 10px;
  text-align: center;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  _float: left;
  margin-right: 5px;
  }

.rslides_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-radius: 15px;
  -moz-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.rslides_tabs .rslides_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }

@media screen and (max-width: 600px) {

  .rslides1_nav {
    border-top-width: 13px;
    border-bottom-width: 13px; 
    border-right-width: 13px;
    }

  .rslides1_nav.next {
    border-right: 0;
    border-left-width: 13px;
    }

  }